@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --primary-text-dark: hsl(238, 29%, 16%);
  --primary-text-soft: hsl(14, 88%, 65%);
  --neutral-text-300: hsl(237, 12%, 33%);
  --neutral-text-500: hsl(240, 6%, 50%);
  --neutral-divider: hsl(240, 5%, 91%);
}

body {
  background: linear-gradient(#af67e9, #6565e7);
  display: grid;
  grid-template-rows: auto 2em;
  padding: 0 2em;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  color: var(--neutral-text-300);
}

h2 {
  color: var(--primary-text-dark);
  font-size: 2.66em;
  font-weight: 700;
  text-align: center;
}

.attribution {
  font-size: 0.9em;
  text-align: center;
  color: white;
}

.attribution a {
  color: #ffb3b3;
}

.card {
  position: relative;
  place-self: center;
  margin-top: 4rem;
  background-color: white;
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 24px;
  padding: 0 2em;
  box-shadow: 0 35px 50px -20px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.card__img {
  position: absolute;
  height: 196px;
  width: 266px;
  top: -107px;
  left: 50%;
  transform: translateX(calc(-50% - 14px));
}
.card__content {
  margin-top: 8rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 780px) {
  .card {
    width: min(80%, 800px);
  }
}
@media screen and (min-width: 1080px) {
  .card {
    display: grid;
    width: auto;
    grid-template-columns: 472px 1fr;
    margin: 0;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: -1080% 68%;
    background-size: 95%;
  }
  .card__img {
    grid-column: 1/2;
    height: 359px;
    width: 472px;
    top: 50%;
    left: -23%;
    transform: translateY(-50%);
  }
  .card picture::after {
    content: url(../images/illustration-box-desktop.svg);
    position: absolute;
    top: 41%;
    left: -11%;
  }
  .card__content {
    grid-column: 2/3;
    margin: 4rem 4rem 4rem 0;
    width: 48ch;
  }
  .card__content h2 {
    text-align: left;
  }
}

.accordion {
  padding-left: 0;
}
.accordion button {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid var(--neutral-divider);
  text-align: left;
  font-size: 1.125em;
  color: var(--primary-text-dark);
  padding: 1.2em 0 1em;
}
.accordion button:hover {
  cursor: pointer;
  color: var(--primary-text-soft);
}
.accordion button::after {
  content: url(../images/icon-arrow-down.svg);
  float: right;
}
.accordion p {
  display: none;
  color: var(--neutral-text-500);
}
.accordion li:target button {
  font-weight: 700;
  border: none;
}
.accordion li:target button::after {
  content: url(../images/icon-arrow-down.svg);
  transform: rotate(180deg);
}
.accordion li:target p {
  display: block;
  padding-bottom: 1.2em;
  border-bottom: 1px solid var(--neutral-divider);
}

/*# sourceMappingURL=style.css.map */
