@use "../abstracts/" as *;

.card {
  position: relative;
  place-self: center;
  margin-top: 4rem;
  background-color: white;
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 24px;
  padding: 0 2em;
  box-shadow: 0 35px 50px -20px rgba(0, 0, 0, 0.25);
  width: 100%;

  &__img {
    position: absolute;
    height: 196px;
    width: 266px;
    top: -107px;
    left: 50%;
    transform: translateX(calc(-50% - 14px));
  }

  &__content {
    margin-top: 8rem;
    margin-bottom: 3rem;
  }

  @include tablet {
    width: min(80%, 800px);
  }

  @include desktop {
    display: grid;
    width: auto;
    grid-template-columns: 472px 1fr;
    margin: 0;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: -1080% 68%;
    background-size: 95%;
    
    &__img {
      grid-column: 1 / 2;
      height: 359px;
      width: 472px;
      top: 50%;
      left: -23%;
      transform: translateY(-50%);
    }

    picture::after {
      content: url(../images/illustration-box-desktop.svg);
      position: absolute;
      top: 41%;
      left: -11%;
    }

    &__content {
      grid-column: 2 / 3;
      margin: 4rem 4rem 4rem 0;
      width: 48ch;

      h2 {
        text-align: left;
      }
    }
  }
}