:root {
  --primary-text-dark: hsl(238, 29%, 16%);
  --primary-text-soft: hsl(14, 88%, 65%);
  --neutral-text-300: hsl(237, 12%, 33%);
  --neutral-text-500: hsl(240, 6%, 50%);
  --neutral-divider: hsl(240, 5%, 91%);
}